@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset "UTF-8";
/* Base Styles */
#cssmenu, #cssmenu ul, #cssmenu li, #cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
}
#cssmenu {
  width: 100%; 
  height: 100vh;
  background: rgba(34,34,34,.5);
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu > ul > li:first-child {
}
#cssmenu > ul > li:first-child > a {
  padding: 15px 10px;
  font-family: 'Ubuntu', sans-serif;
  /*text-align: center;*/
  font-size: 14px;
  font-weight: 300;
  text-shadow: 0 -1px 1px #000000;
}
#cssmenu > ul > li:first-child > a > span {
  padding: 0;
}
#cssmenu > ul > li:first-child:hover {
  background: rgba(34,34,34,.7);
}
#cssmenu > ul > li {
}
#cssmenu > ul > li:hover {
  background: rgba(34,34,34,.7);
}
#cssmenu > ul > li > a {
  font-size: 14px;
  display: block;
  color: #ffffff;
  text-shadow: 0 -1px 1px #000000;
}
#cssmenu > ul > li > a > span {
  display: block;
  padding: 12px 10px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  background: rgba(34,34,34,.7);
}
#cssmenu > ul > li.has-sub > a span {
  background: url(../images/icon_plus.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url(../images/icon_minus.png) 96% center no-repeat;
}
/* Sub menu */
#cssmenu ul ul {
  display: none;
}
#cssmenu ul ul li {
  padding: 0;
}
#cssmenu ul ul li:last-child {
}
#cssmenu ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
}
#cssmenu ul ul a:before {
  content: "»";
  position: absolute;
  left: 10px;
  color: #ffffff;
}
#cssmenu ul ul a:hover {
  
}
