body{
	height: 100%;
	background: url(../images/background.jpg) no-repeat center center fixed;
	background-size: cover;
}

.trans {
	background-color: rgba(137, 137, 137, 0.7);
}

.picture {
	border-radius: 50%;
	height: 250px;
	padding: 10px;
}

.name {
	font-family: "Nothing You Could Do";
	font-size: 105px;
	float: left;
}

.icons a {
	float: right;
	color: rgba(10,10,9,.5);
}

.icons a:hover {
	color: rgba(10,10,9);
}

.bio {

}

.footer {

}